icoj./ipl.caf.ilca.g-ift.tone.icfa ab grafttone _/.ibla.foset.m_.lid.ceba.call.unica. lotssystem. graftzone.

5. Preserve Animals.

6. Preserve forest.

7. Preserve birds.

8. Preserve Rivers.

9. Preserve Caves.

10. Preserve the forest flora.

11. Preserve the forest fauna.

12. Preserve the forests natrual co2 gasses.

13. Preserve the forest minerals.

14. Preserve the forests natrual resourses.

15. oil.

16. Gold


.i.cuni.c.cyna.pp(telstra).ctex.mm.il.ca.plp.iopa.
